/* breakpoints will be tuned as we go; this is a rough pass */

#discover .howto {
	background-color: #007AD1;
	color: white;
}

#discover .howto:hover, #discover .howto:active {
	background-color: #0071C2;
}

#discover .story {
	background-color: #0B628E; 
	color: white;
}

#discover .story:hover, #discover .story:active {
	background-color: #0A5980;
}

#discover .help {
	background-color: #008094;
	color: white;
}

#discover .help:hover, #discover .help:active {
	background-color: #006F80;
}

#discover .info {
	background-color: #0B2C8E;
	color: white;
}

#discover .info:hover, #discover .info:active {
	background-color: #0A2780;
}

/* we can assume anything this small is mobile and therefore touch-first */
@media (max-width: 600px) {
	body > div {
		padding: 1em 1.5em;
	}

	.query input {
		width: 90%;
		height: 38px;
		margin: 1em auto .5em auto;
	}

	.query select {
		padding: 3px 20px;
	}

	.query button {
		padding: 5px 20px;
	}

	#discover {
		background-color: #f1f1f1;
	}

	#discover .suggested > a {
		display: inline-block;
		overflow: hidden;
		
		width: 100%;

		margin-bottom: .5em;
	}

	#discover .object {
		display: inline-block;

		width: 100%;
		padding: 1em 0;
	}

	#discover .object p {
		margin: 0 2em;
	}

	#footer {
		color: white;

		text-align: center;

		background-color: #323a45;
	}
}

/* there's a good chance this a tablet so it should work well with touch */
@media (min-width: 601px) and (max-width: 800px) {
	body > div {
		padding: 1em 2em;
	}

	.query input {
		width: 60%;

		height: 38px;

		margin: .5em auto;
	}

	.query select, .query button {
		width: 15%;
		height: 2em;
	}

	#discover {
		background-color: #f1f1f1;
	}

	#discover .suggested > a {
		display: inline-block;
		overflow: hidden;

		margin-right: 1em;
		margin-bottom: 1em;
	}

	#discover .object {
		display: inline-block;

		width: 100px;
		height: 100px;
		padding: 25px;
	}

	#discover .object:hover, #discover .object:active {
		background-color: #0071bc;
	}

	#footer {
		color: white;

		text-align: center;

		background-color: #323a45;
	}
}

/* now we've got some real estate to play with */
@media (min-width: 801px) {
	body > div {
		width: 100%;
		min-height: 100px;
		overflow: hidden;
	}

	#search {
	}

	.query {
		width: 80%;
		margin: 2em auto;
	}

	.query input {
		margin-top: 1em;

		width: 60%;
		height: 38px;

		padding: 0;
	}

	.query select {
		height: 40px;
		padding: 0 10px;
		width: 15%;
	}

	.query button {
		width: 15%;
		height: 2em;
		padding: 0 1em;
	}

	#discover {
		background-color: #f1f1f1;
	}

	#discover > div {
		width: 80%;
		margin: 2em auto;
	}

	#discover .suggested > a {
		display: inline-block;
		overflow: hidden;

		margin-right: 3em;
		margin-bottom: 3em;
	}

	#discover .object {
		display: inline-block;

		width: 150px;
		height: 150px;
		padding: 25px;
	}

	#discover .object:hover {}

	#footer {
		max-height: 10px;
		color: white;

		text-align: center;

		background-color: #323a45;
	}

	#footer p {
		margin: 40px auto;
	}
}

/* oh god your screen is large */
@media (min-width: 1401px) {
	#search {
	}

	.query {
		max-width: 75em;
	}

	.query input {
		width: 30em;
	}

	.query select {
		width: 8em;
		padding: inherit 0;
	}

	.query button {
		width: 8em;
		padding: inherit 0;
	}

	#discover > div {
		max-width: 75em;
	}
}